<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{% block title %}Django Auth Tutorial{% endblock %}</title>
  <link rel="icon" href="data:,">
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">

  <!-- Link to the CSS stylesheet -->
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
  <!-- Navigation bar -->
  <nav>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/discover/">Discover</a></li>

        {% if user.is_authenticated %}
            <li><a href="/forYou">For You</a></li>
            <li><a href="/profile">Profile</a></li>
        {% else %}
            <li><a href="/logIn/">Log In</a></li>
        {% endif %}
    </ul>
  </nav>

  <main>
    {% block content %}
    {% endblock %}
  </main>
</body>
</html>



