{% extends "base.html" %}
{% block title %}Discover{% endblock %}

{% block content %}

<form action="/search" method="get">
  <input type="text" name="query" placeholder="Search..." required>
  <button type="submit">Search</button>
</form>
<br>
<div class="discover-wrapper">
  <div class="discover-container">
    {% for i in range %}
      <div class="news-item">
        <h3>News Item {{ forloop.counter }}</h3>
        <p>This is a sample description for news item {{ forloop.counter }}.</p>
      </div>
    {% endfor %}
  </div>
</div>
{% endblock %}


